.article {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

/* Estilos del titulo y el subtitulo */

.first-title {
    color: var(--first-font-color);
    font-size: var(--font-title-h1-size);
    margin: 1.5rem;
    padding: 0.0rem;
    text-align: center;
}

.first-subtitle {
    margin: 1rem;
    padding: 1rem;
    font-size: var(--font-subtitle-h4-size);
    color: var(--first-font-color);
    text-align: center;
}

/* Estilos de la tabla de contenidos */

.article-contenido {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 3rem;
    background-color: var(--secundary-color);
    border-radius: 3rem;
}

.title-h2-article {
    font-size: var(--font-subtitle-h2-size);
    text-align: center;
    padding: 1rem;
}

.article-list-number {
    margin: 1.5rem;
}

/* Estilos de las tablas */

.article-table {
    border-collapse: collapse;
    background-color: var(--fourth-color);
}

.article-table__cell {
    padding: 1.5rem;
    border: solid 1px #000;
}

.article-table__header, .article-table__caption {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--third-color);
    border-bottom: solid 2px #000;
    color: var(--first-font-color);
}

.article-table__link {
    color: var(--first-font-color);
}

.article-table__caption {
    padding: 1.5rem;
    background-color: var(--third-color);
    border-bottom: solid 2px #000;
    color: var(--first-font-color);
}

.article-table__icon {
    background-color: #7ebba9;
}

.article-table__icon2 {
    background-color: #bb7e7e;
}

.table-img {
    width: 1.5rem;
}

.table-img2 {
    width: 1.5rem;
}

/* Estilos de las tarjetas */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-three {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    background-color: var(--primary-color);
    border-radius: 1rem;
    margin: 0.5rem;
    color: var(--first-font-color);
    text-decoration: none;
    box-shadow: 1px 2px 5px black;
}

.card-three-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-three__img {
    max-width: 100%;
    margin: 10px;
}

.card-three__title {
    font-size: var(--font-subtitle-h3-size);
    text-align: center;
    margin: 0.5rem;
}

.card-three__content {
    font-size: var(--font-general-size);
    text-align: justify;
    margin: 1.0rem;
}

.card-three__subtitle {
    font-size: var(--font-subtitle-h4-size);
    text-align: center;
    margin: 0.5rem;
}

.card-three__list {
    text-align: left;
    margin: 3rem;
}

@media (min-width: 480px) {

.card-three-article {
    display: flex;
    flex-direction: row;
}

.card-three__img {
    width: 150px;
    height: 150px;
    margin: 10px;
}
    
}

/* Fin estilos de las tarjetas */