.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-general-size);
    height: 100%;
}

.cuerpo {
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
}

.article {
    margin: 3rem;
    display: flex;
    flex-direction: column;
}

.first-title {
    color: var(--first-font-color);
    font-size: var(--font-title-h1-size);
    margin: 1.5rem;
    padding: 0.0rem;
    text-align: center;
}

.first-subtitle {
    margin: 1rem;
    padding: 1rem;
    font-size: var(--font-subtitle-h4-size);
    color: var(--first-font-color);
    text-align: center;
}

.article p {
    padding: 0.5rem;
}

.article ol {
    margin: 1.5rem;
}

.article-table {
    width: 100%;
    margin: 0.5rem;
    border: #000000 0.2rem solid;
    border-collapse: collapse;
}

.article-table td {
    border: #000000 0.2rem solid;
    padding: 0.5rem;
}

.article-table caption {
    border: #000000 0.2rem solid;
    padding: 0.5rem;
}

.table-img {
    width: 1.5rem;
}

.table-img2 {
    width: 1.5rem;
}

.article-contenido {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 3rem;
    background-color: var(--secundary-color);
    border-radius: 3rem;
}

.title-h2-article {
    font-size: var(--font-subtitle-h2-size);
    text-align: center;
    padding: 2rem;
}

/* Estilos de las tarjetas */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-three {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    background-color: var(--primary-color);
    border-radius: 1rem;
    margin: 0.5rem;
    color: var(--first-font-color);
    text-decoration: none;
    box-shadow: 1px 2px 5px black;
}

.card-three-article {
    display: flex;
    flex-direction: column;
}

.card-three__img {
    display: flex;
    width: 370px;
    height: 260px;
    margin: 10px;
}

.card-three__title {
    font-size: var(--font-subtitle-h3-size);
    text-align: center;
    margin: 0.5rem;
}

.card-three__content {
    font-size: 20px;
    text-align: justify;
    margin: 1.0rem;
}

.card-three__subtitle {
    font-size: var(--font-subtitle-h4-size);
    text-align: center;
    margin: 0.5rem;
}

.card-three__list {
    text-align: left;
    margin: 3rem;
}

@media (min-width: 480px) {

.card-three-article {
    display: flex;
    flex-direction: row;
}

.card-three__img {
    display: flex;
    width: 150px;
    height: 150px;
    margin: 10px;
}
    
}