/* Estilos de los Botones */

.btn-one {
    width: 220px;
    margin: 1rem;
    padding: 1rem;
    align-self: center;
    border: 1px solid var(--primary-color);
    border-radius: 3rem;
    background-color: var(--primary-color);
    box-shadow: 1px 2px 5px black;
    color: aliceblue;
    font-size: 1.8rem;
}

.btn-one__link {
    color: var(--first-font-color);
    text-decoration: none;
}

.btn-one--hover:hover {
    border: 3px solid var(--secundary-color);
    color: black;
}

.btn-one__link--hover:hover {
    color: black;
}