.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-general-size);
}

.cuerpo {
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
}

.title {
    color: var(--first-font-color);
    font-size: var(--font-title-h1-size);
    margin: 0.5rem;
    padding: 0.0rem;
    text-align: center;
}

.title__first-subtitle {
    margin: 1rem;
    padding: 1rem;
    font-size: var(--font-subtitle-h4-size);
}

.contenedor-padre {
    background-color: var(--secundary-color);
    width: 100%;
    padding: 1rem;
}

.contenedor-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-box h3 {
    background-color: var(--primary-color);
    color: var(--first-font-color);
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem;
}

.contenedor-h2__title {
    display: flex;
    justify-content: center;
    color: var(--first-font-color);
    padding: 1.5rem;
}

.form {
    background-color: aliceblue;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    color: rgb(63, 65, 65);
    border-radius: 8px;
}

.names {
    
}

.textarea {
    outline: none;
    border: 0;
    width: 280px;
}

.form-field {
    outline: none;
    border: solid 1px #ccc;
    padding: 10px;
    width: 280px;
}