:root {
    --primary-color: #e63727;
    --secundary-color: #961b10;
    --first-font-color: #ffff;
    --font-color-link-hover: #dd9611;
    --font-general-size: 1.8rem;
    --font-title-h1-size: 4.5rem;
    --font-subtitle-h2-size: 3.5rem;
    --font-subtitle-h3-size: 3.0rem;
    --font-subtitle-h4-size: 2.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    background-color: var(--secundary-color);
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-general-size);
}

.header {
    z-index: 1000;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: var(--secundary-color) 1px solid;
}

.logo-img__logo {
    margin: 1rem;
    height: 5rem;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
}

.main-nav__iteam {
    margin: 1.0rem;
    padding: 1.0rem;
    list-style: none;
}

.main-nav__iteam a {
    font-weight: 400;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.main-nav__iteam a:hover {
    color: var(--font-color-link-hover);
}

.main-nav__iteam a:active {
    color: var(--first-font-color);
}

.cuerpo {
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
}

.title {
    color: var(--first-font-color);
    font-size: var(--font-title-h1-size);
    margin: 0.5rem;
    padding: 0.0rem;
    text-align: center;
}

.title__first-subtitle {
    margin: 1rem;
    padding: 1rem;
    font-size: var(--font-subtitle-h4-size);
}

.contenedor-padre {
    background-color: var(--secundary-color);
    width: 100%;
    padding: 1rem;
}

.contenedor-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-box h3 {
    background-color: var(--primary-color);
    color: var(--first-font-color);
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem;
}

.contenedor-h2__title {
    display: flex;
    justify-content: center;
    color: var(--first-font-color);
    padding: 1.5rem;
}

.form {
    background-color: var(--primary-color);
    margin: 5rem;
    display: flex;
    flex-direction: column;
}

.form label {
    margin: 2rem;
    padding: 0.2rem;
}

.form-message {
    display: flex;
    width: 100%;
}

.form span {
    font-size: var(--font-subtitle-h4-size);
    color: var(--first-font-color);

}

.form input {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-general-size);
    margin: 1rem;
    padding: 1.2rem;
    width: 100%;
}

.form-submit {
    color: var(--first-font-color);
    background-color: var(--font-link-active);
}

.footer {
    display: block;
    background-color: var(--primary-color);
    padding: 2rem;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-social-network {
    width: 12rem;
    max-width: 12rem;
    display: flex;
    justify-content: space-between;
}

.footer-social-network img {
    width: 20px;
    height: 20px;
}