/* Estilos del header */

.header {
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primary-color);
    border-bottom: var(--secundary-color) 1px solid;
}

.logo__img {
    margin: 1rem;
    height: 5rem;
}

/* Estilos del Menu Mobile */

/* Estilos del icono de dar click */
.nav-mobile {
    margin-top: 15px;
    margin-right: 15px;
}

.nav-mobile__iteam {
    display: flex;
    padding: 5px;
    width: 60px;
    margin: 3px;
    background: #ffffff;
    list-style: none;
}

.nav-mobile__container {
    display: flex;
    position: relative;
}

/* Estilos del submenu */

.nav-mobile__submenu--hide {
    display: none;
    position: absolute;
}

.nav-mobile__click--view:focus + .nav-mobile__submenu {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 220px;
    background: #f2f2f2;
    list-style: none;
}