.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-general-size);
}

/* Estilos del cuerpo del proyecto */

.main-container {
    margin-top: 10rem;
    min-height: 100vh;
}

/* Contenedor que alberga todos los contenedores del cuerpo */

.container-father {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /* background-color: yellow; */
}

/* Container one: Este es el primer contenedor del cuerpo (Home), contiene principalmente títulos y subtítulos (reutilizable para otras secciones de otras páginas) */

.container-one {
    background-color: var(--primary-color);
    color: var(--first-font-color);
    font-size: var(--font-title-h1-size);
    padding: 0.0rem;
    text-align: center;
    border-bottom: 1px solid;
}

.container-one__subtitle {
    margin: 1rem;
    padding: 1rem;
    font-size: var(--font-subtitle-h4-size);
}

/* Contenedor Estilos de la caja número 1, compuesta por un texto y un icono, utilizada hasta el momento para la sección de conceptos básicos del home */

.container-two {
    background-color: rgb(15, 102, 102);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--first-font-color);
    padding: 1.5rem;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

/* Estilos de la caja número 2, la cuál servirá para crear cajas de: Titulo, texto e imagen; se usara para los previews de blogs y otros elementos como recursos */

.card-container-two {
    display: flex;
    flex-wrap: wrap;
}

.container-three {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--first-font-color);
    padding: 1.5rem;
    text-align: center;
    border-bottom: 1px solid;
}

.container-four {
    background-color: rgb(15, 102, 102);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--first-font-color);
    padding: 1.5rem;
    text-align: center;
}

.card-container-four {
    display: flex;
    flex-wrap: wrap;
}