* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    background-color: #e63727;
}

.body {
    font-size: 1.6rem;
}

.header {
    background-color: #cf2c1d;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img img {
    margin: 1rem;
    height: 5rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

.contenedor-h2__title {
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding: 1.5rem;
}

.contenedor-box__iteam1 {
    background-color: aliceblue;
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem;
}

.contenedor-box__iteam2 {
    background-color: rgb(162, 247, 173);
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem;
}

.contenedor-box__iteam3 {
    background-color: rgb(238, 177, 63);
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem;
}

.contenedor-box__iteam4 {
    background-color: rgb(149, 178, 204);
    border-radius: 1rem;
    margin: 1rem;
    padding: 2rem;
}

.main-nav__iteam {
    background-color: rgb(229, 250, 215);
    color: black;
    margin: 1.0rem;
    padding: 1.0rem;
}

.main-nav__iteam a {
    color: black;
    text-decoration: none;
}

.main-nav__iteam a:hover {
    color: rgb(233, 149, 23);
}

.main-nav__iteam a:active {
    color: rgb(250, 246, 246);
}

.title {
    color: white;
    margin: 0.5rem;
    padding: 0.0rem;
    text-align: center;
}

.title__first-subtitle {
    margin: 1rem;
    padding: 1rem;
    position: relative;
    top: 1.0rem;
}

.cuerpo {
    margin: 2rem;
    padding: 1rem;
    position: relative;
    top: 1rem;
}

.footer {
    display: flex;
    background-color: #cf2c1d;
    padding: 2rem;
    position: relative;
    top: 1rem;
}