:root {
    --primary-color: #e63727;
    --secundary-color: #961b10;
    --first-font-color: #ffff;
    --font-color-link-hover: #dd9611;
    --font-general-size: 1.8rem;
    --font-title-h1-size: 4.5rem;
    --font-subtitle-h2-size: 3.5rem;
    --font-subtitle-h3-size: 3.0rem;
    --font-subtitle-h4-size: 2.5rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    background-color: var(--secundary-color);
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-general-size);
    height: 100%;
}

.header {
    z-index: 1000;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: var(--secundary-color) 1px solid;
}

.logo-img__logo {
    margin: 1rem;
    height: 5rem;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
}

.main-nav__iteam {
    margin: 1.0rem;
    padding: 1.0rem;
    list-style: none;
}

.main-nav__iteam a {
    font-weight: 400;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.main-nav__iteam a:hover {
    color: var(--font-color-link-hover);
}

.main-nav__iteam a:active {
    color: var(--first-font-color);
}

.cuerpo {
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
}

.article {
    margin: 3rem;
    display: flex;
    flex-direction: column;
}

.first-title {
    color: var(--first-font-color);
    font-size: var(--font-title-h1-size);
    margin: 1.5rem;
    padding: 0.0rem;
    text-align: center;
}

.first-subtitle {
    margin: 1rem;
    padding: 1rem;
    font-size: var(--font-subtitle-h4-size);
    color: var(--first-font-color);
    text-align: center;
}

.article p {
    padding: 0.5rem;
}

.article ol {
    margin: 1.5rem;
}

.article-table {
    width: 100%;
    margin: 0.5rem;
    border: #000000 0.2rem solid;
    border-collapse: collapse;
}

.article-table td {
    border: #000000 0.2rem solid;
    padding: 0.5rem;
}

.article-table caption {
    border: #000000 0.2rem solid;
    padding: 0.5rem;
}

.table-img {
    width: 1.5rem;
}

.table-img2 {
    width: 1.5rem;
}

.article-contenido {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 3rem;
    background-color: var(--secundary-color);
    border-radius: 3rem;
}

.title-h2-article {
    font-size: var(--font-subtitle-h2-size);
    text-align: center;
    padding: 2rem;
}

.article-container-superior {
    display: flex;
}

.article-container {
    display: flex;
    flex-direction: column;
    width: 200rem;
    background-color: azure;
    margin: 1rem;
    padding: 1rem;
    border: #000000 0.2rem solid;
    border-radius: 2rem;
}

.article-container h3 {
    font-size: var(--font-subtitle-h3-size);
    text-align: center;
    margin: 0.5rem;
}

.article-container .img-content img {
    width: 100%;
}

.article-container p {
    text-align: justify;
    margin: 1.0rem;
}

.article-container h4 {
    font-size: var(--font-subtitle-h4-size);
    text-align: center;
    margin: 0.5rem;
}

.article-container ul {
    text-align: left;
    margin: 0.5rem;
    list-style: none;
}

.footer {
    display: flex;
    background-color: #cf2c1d;
    padding: 2rem;
    position: relative;
    top: 1rem;
}